<section class="mx-10">
  <h1 class="text-3xl">{{ country().name }}</h1>
  <h2 class="text-xl font-thin">
    Población {{ country().population | number }}
  </h2>
</section>

<section class="stats shadow mx-5 flex flex-col md:flex-row">
  <div class="stat place-items-center">
    <p class="stat-title">Población</p>
    <p class="stat-value">{{ country().population | number }}</p>
    <p class="stat-desc">Desde {{ currentYear() }}</p>
  </div>

  <div class="stat place-items-center">
    <p class="stat-title">Nombre</p>
    <p class="stat-value text-primary">{{ country().name }}</p>
    <p class="stat-desc text-primary">{{ country().region }}</p>
  </div>

  <div class="stat place-items-center">
    <p class="stat-title">Sub Region</p>
    <p class="stat-value">{{ country().subRegion }}</p>
    <p class="stat-desc">{{ country().region }}</p>
  </div>

  <div class="stat place-items-center">
    <p class="stat-title">Bandera</p>
    <p class="stat-value">{{ country().flag }}</p>
    <p class="stat-desc">{{ country().subRegion }}</p>
  </div>

  <div class="stat place-items-center">
    <p class="stat-title">Favorito</p>
    <button (click)="this.favoritesServices.toggleFavoriteCountry(this.country())">
      <lucide-angular [img]="HeartIcon" class="size-8 hover:text-red-700 hover:fill-red-700" [class.text-red-700]="this.isFavorite()" />
    </button>
  </div>
</section>

<section class="diff aspect-[16/9]">
  <div class="diff-item-1">
    <img [alt]="country().name" [src]="country().flagSvg" />
  </div>
  <div class="diff-item-2">
    <img class="blur brightness-75" [alt]="country().name" [src]="country().flagSvg" />
  </div>
  <div class="diff-resizer"></div>
</section>
