<nav class="navbar bg-base-100 shadow-sm py-4 px-3 sm:px-6">
  <div class="flex gap-2 items-center justify-between grow max-w-7xl mx-auto">
    <a routerLink="/" class="flex items-center gap-2">
      <figure class="w-6">
        <img src="/ico/world.ico" alt="logo" class="object-contain">
      </figure>
      <span class="text-lg sm:text-xl font-medium">World Explorer</span>
    </a>
    <navbar-menu-desktop [links]="links" />
    <div class="flex gap-1.5 items-center">
      <navbar-menu-mobile [links]="links" />
      <navbar-themes-dropdown />
    </div>
  </div>
</nav>
